 <!-- Set player information and start game -->
 <section class="steps step-1" *ngIf="currentStep === 1">
  <mat-card class="match-info">
    <form [formGroup]="playersInfo" (ngSubmit)="startGame()">
      <mat-card-header>
        <mat-card-title>New Match</mat-card-title>
        <mat-card-subtitle>Player Details</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field class="player-info">
            <input matInput placeholder="Player 1" formControlName="player1" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="player-info">
            <input matInput placeholder="Player 2" formControlName="player2" required>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!playersInfo.valid">Start Game</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
<!-- Score the game -->
<section class="steps step-2"  *ngIf="currentStep === 2">
  <mat-card class="match-info">
    <mat-card-header>
      <mat-card-title>Current Match: <span>{{players[0].name}} v/s {{players[1].name}}</span></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="match-title"></div>
      <div class="score-buttons">
        <div class="playerName">{{players[0].name}} ({{players[0].setsWon}})</div>
        <div  class="point-button points-{{players[0].setScore}}">
          <button mat-fab (click)="addPoint$.next(0)" [disabled]="players[0].setsWon === 6 || players[1].setsWon === 6">
            <div class="player">
              P1
            </div>
            <div class="score" *ngIf="players[1].setScore < 4 || players[1].setScore === 5">
              <span *ngIf="players[0].setScore !== 6; else advantage;">{{players[0].verboseScore}}</span>
              <!-- {{players[0].verboseScore}} -->
            </div>
          </button>
        </div>
        <div class="playerName">{{players[1].name}} ({{players[1].setsWon}})</div>
        <div class="point-button points-{{players[1].setScore}}">
          <button mat-fab (click)="addPoint$.next(1)" [disabled]="players[0].setsWon === 6 || players[1].setsWon === 6">
            <div class="player">
              P2
            </div>
            <div class="score" *ngIf="players[0].setScore < 4 || players[0].setScore === 5">
              <span *ngIf="players[1].setScore !== 6; else advantage;">{{players[1].verboseScore}}</span>
            </div>
          </button>
        </div>
      </div>
      <div class="current-score">
        <app-game-score [players]="players"></app-game-score>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="startNewGame()">New Game</button>
    </mat-card-actions>
  </mat-card>
</section>

<ng-template #advantage>
  AD
</ng-template>