:host
  display flex
  align-items center
  justify-content center
  height 100%
  form
    width 100%
  .steps
    width 500px
    max-width 90%
    align-self center

  .match-info
    width 100%
    display flex
    align-items center
    flex-direction column
    mat-card-header, mat-card-content
      width 100%
      
    ::ng-deep
      .player-info
        width 100%
      .mat-card-header-text
        margin 0